.acciones{
  transform: scale(1.1);
  justify-content: space-evenly;
}

.destacado{
  font-size: 20px
}

.description{
  font-weight: normal;
}

body{
  background-color: rgb(57, 11, 131);
}

.texteBlue{
  text-emphasis-color:rgb(57, 11, 131);
}