.acciones{
  transform: scale(1);
  justify-content: space-evenly;
}

.destacado{
  font-size: 20px
}

.description{
  font-weight: normal;
}

.weImg{
  padding-top: 7  rem;
}

.texteBlue{
  text-emphasis-color:rgb(57, 11, 131);
}