.outStadingContainer{
  display: block;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  padding: 5px;
  border-radius: 1.25rem;
}

.titleGame h5{
  font-size: 60px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
}

.containerBody{
  background-color: rgb(5, 6, 45);
  border-radius: 1.1rem;
}

.coverPage{
  width: 47rem;
}

