:root{
  --fondoNavbar: rgba(89, 20, 201);
  /*--fondoPagina: rgba(59, 19, 255);*/
  --fondoPagina: rgb(2, 0, 32);
}

.navColor{
  background-color:var(--fondoNavbar);
}
.logo{
  width:6rem; 
  height: 6rem;
}

.title{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
}
.card{
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  padding: 5px;
  border-radius: 1.25rem !important;
}

.card-body{
  background-color: rgb(5, 6, 45);
  border-radius: 1.1rem;
}


.card-text{
  color: white;
}

.backMain{
  padding-top:8rem;
  background-color: var(--fondoPagina);
}

.button {
  position: relative;
  width: 156px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgb(57, 11, 131);
  background-color: var(--fondoNavbar);
}

.button, .button__icon, .button__text {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button .button__text {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  -webkit-transform: translateX(109px);
      -ms-transform: translateX(109px);
          transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: rgb(57, 11, 131);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: rgb(57, 11, 131);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.button:active .button__icon{
  background-color: rgb(57, 11, 131);
}

.button:active {
  border: 1px solid rgb(57, 11, 131);
}



.ingresarBtn {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  width: 95.02px;
  height: 42.66px;
  border: none;
  background-color: #606060;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-mother {
  display: flex;
  overflow: hidden;
}

button:hover .span-mother {
  position: absolute;
}

button:hover .span-mother span {
  transform: translateY(1.2em);
}

.span-mother span:nth-child(1) {
  transition: .2s;
}

.span-mother span:nth-child(2) {
  transition: .3s;
}

.span-mother span:nth-child(3) {
  transition: .4s;
}

.span-mother span:nth-child(4) {
  transition: .5s;
}

.span-mother span:nth-child(5) {
  transition: .6s;
}

.span-mother span:nth-child(6) {
  transition: .7s;
}

.span-mother span:nth-child(7) {
  transition: .8s;
}

.span-mother span:nth-child(8) {
  transition: .9s;
}

.span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.span-mother2 span {
  transform: translateY(-1.4em);
}

button:hover .span-mother2 span {
  transform: translateY(0);
}

.span-mother2 span {
  transition: .2s;
}

.span-mother2 span:nth-child(2) {
  transition: .3s;
}

.span-mother2 span:nth-child(3) {
  transition: .4s;
}

.span-mother2 span:nth-child(4) {
  transition: .5s;
}

.span-mother2 span:nth-child(5) {
  transition: .6s;
}

.span-mother2 span:nth-child(6) {
  transition: .7s;
}

.span-mother2 span:nth-child(7) {
  transition: .8s;
}
.span-mother2 span:nth-child(8) {
  transition: .9s;
}

.registerBtn {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  width: 95.02px;
  height: 42.66px;
  border: none;
  background-color: #606060;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-mother1 {
  display: flex;
  overflow: hidden;
}

button:hover .span-mother1 {
  position: absolute;
}

button:hover .span-mother1 span {
  transform: translateY(1.2em);
}

.span-mother1 span:nth-child(1) {
  transition: .2s;
}

.span-mother1 span:nth-child(2) {
  transition: .3s;
}

.span-mother1 span:nth-child(3) {
  transition: .4s;
}

.span-mother1 span:nth-child(4) {
  transition: .5s;
}

.span-mother1 span:nth-child(5) {
  transition: .6s;
}

.span-mother1 span:nth-child(6) {
  transition: .7s;
}

.span-mother1 span:nth-child(7) {
  transition: .8s;
}

.span-mother1 span:nth-child(8) {
  transition: .9s;
}

.span-mother1 span:nth-child(9) {
  transition: 1s;
}

.span-mother1 span:nth-child(10) {
  transition: 1.1s;
}

.span-mother1 span:nth-child(11) {
  transition: 1.2s;
}

.span-mother3 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.span-mother3 span {
  transform: translateY(-1.4em);
}

button:hover .span-mother3 span {
  transform: translateY(0);
}

.span-mother3 span {
  transition: .2s;
}

.span-mother3 span:nth-child(2) {
  transition: .3s;
}

.span-mother3 span:nth-child(3) {
  transition: .4s;
}

.span-mother3 span:nth-child(4) {
  transition: .5s;
}

.span-mother3 span:nth-child(5) {
  transition: .6s;
}

.span-mother3 span:nth-child(6) {
  transition: .7s;
}

.span-mother3 span:nth-child(7) {
  transition: .8s;
}

.span-mother3 span:nth-child(8) {
  transition: .9s;
}

.span-mother3 span:nth-child(9) {
  transition: 1s;
}

.span-mother3 span:nth-child(10) {
  transition: 1.1s;
}

.span-mother3 span:nth-child(11) {
  transition: 1.2s;
}

.body1{
  min-height: 48vh;
}