:root{
  --fondoNavbar: rgba(89, 20, 201);
  --fondoPagina: rgba(59, 19, 255); 
}

.navColor{
  background-color:var(--fondoNavbar);
}

.title{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
